{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <title>Governemnt Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="w-screen p-[5%] h-screen gap-10 relative flex items-center justify-center overflow-hidden bg-gradient-to-br from-lime-500 to-slate-700">
    <aside class="grow-[4] flex flex-col text-white gap-4 items-start">
      <h2 class="font-bold text-6xl capitalize">state government</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati porro impedit! Quibusdam sint numquam rerum sapiente nihil ad dolorem aspernatur quam porro, culpa excepturi, facere odio vero quae non.</p>

      <a href="{% url 'landing:index-view' %}" class="px-10 hover:bg-green-800 transition-all py-1 rounded bg-green-600 shadow uppercase mt-10">home</a>
    </aside>
    <main class="grow basis-96 min-w-[35%] p-4 bg-white shadow-md rounded-md">
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
