{% extends 'landing.html' %}

{% block content %}
  <section id="executive" class="px-[5%]">
    <h2 class="text-2xl font-bold mb-4">Executive</h2>
    <article>
      <h3 class="text-xl font-bold mb-2">Governor</h3>
      <p>Abba Kabir Yusuf is a Nigerian politician currently serving as the governor of Kano State since assuming office in 2023. Born on January 5, 1963, in Gaya Local Government Area of Kano State, Yusuf received his early Islamic education under the guidance of his late grandfather, Alhaji Yusuf Bashari, who was the District Head of Gaya.</p>
      <p>Yusuf attended Sumaila Primary School from 1968 to 1975 and later completed his secondary education at Government Secondary School Dawakin Tofa and Government Secondary School Lautai in Gumel in 1980. He pursued further studies at the Federal Polytechnic, Mubi, earning a National Diploma (ND) in Civil Engineering in 1985. He then obtained a Higher National Diploma (HND) in Civil Engineering with specialization in Water Resources/Environmental Engineering from Kaduna Polytechnic in 1989. Additionally, Yusuf pursued postgraduate studies at Bayero University, Kano, earning a postgraduate diploma and a master's degree in business administration.</p>
      <p>In 1989, Yusuf served the mandatory National Youth Service Corps (NYSC) at the Kaduna Environmental Protection Agency (KEPA). He subsequently joined the Kano State Water Resources Engineering and Construction Agency (WRECA), holding various positions.</p>
      <p>Yusuf began his political career as personal assistant to Rabiu Kwankwaso during Kwankwaso's tenure as governor of Kano State and continued in that role when Kwankwaso became a federal minister in 2003. In 2011, he was appointed Commissioner of Works, Housing, and Transport during Kwankwaso's second term as governor.</p>
      <p>From 2009 to 2011, Yusuf also served as chairman of the Governing Board of the National Institute for Educational Planning and Administration (NIEPA) in Ondo State, appointed by President Umaru Musa Yaradua.</p>
      <p>In 2018, Yusuf contested the Kano State gubernatorial election under the platform of the Peoples Democratic Party (PDP) but lost to the incumbent Governor Abdullahi Umar Ganduje. He later contested the results in court.</p>
      <p>In 2022, Yusuf joined the New Nigeria Peoples Party (NNPP) and was endorsed by Rabiu Kwankwaso to contest again in the 2023 elections. He emerged victorious on March 20, 2023, and was inaugurated alongside his running mate, Aminu Abdussalam Gwarzo, on May 29, 2023, as the governor of Kano State.</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Deputy Governor</h3>
      <p>Aminu Abdussalam Gwarzo, born on November 6, 1960, is a Nigerian politician currently serving as the Deputy Governor of Kano State. He hails from Gwarzo Local Government Area in Kano State.</p>
      <p>Gwarzo's educational journey includes attending Gwarzo Primary School from 1966 to 1972, followed by his secondary education from 1972 to 1977. He furthered his studies at Kano State Polytechnic, where he obtained both a National Diploma and a Higher National Diploma. Additionally, he pursued a Postgraduate Diploma in Public Policy and Administration at Bayero University, Kano, from 2007 to 2008.</p>
      <p>Beginning his career as a classroom teacher in 1977, Gwarzo later became a headmaster in 1981. His professional path transitioned into public service as a revenue officer after completing his studies in Banking and Finance and Accountancy. He served in this capacity for six years before entering politics, where he was elected as the Chairman of Gwarzo Local Government in 1996.</p>
      <p>Gwarzo's political career continued to ascend, and he became the Commissioner for State Affairs from 2011 to 2015 during Governor Rabiu Kwankwaso's administration. He has also held the position of Chairman of Gwarzo Local Government Area twice, first in 1996 and subsequently from 1999 to 2003 under the Peoples Democratic Party (PDP) while Kwankwaso was the governor of Kano State.</p>
      <p>In March 2023, Gwarzo was elected as the Deputy Governor of Kano State under the platform of the New Nigeria Peoples Party (NNPP), alongside Abba Kabir Yusuf, who was elected as the governor. Notably, Gwarzo had previously served as Yusuf's running mate since the 2019 election, demonstrating a longstanding commitment to public service and governance in Kano State.</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Secretary to the State Government</h3>
      <p>Alh Abdullahi Musa</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Head of Service</h3>
      <p>Barrister Binta Lawal Ahmad</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Chief of Staff</h3>
      <p>Shehu Wada Sagagi</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Accountant General</h3>
      <p>Shehu A Mu'azu</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Attorney General and Commissioner for Justice</h3>
      <p>Barrister Lawan Musa Abdullahi</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Education</h3>
      <p>Umar Haruna Doguwa</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Budget and Planning</h3>
      <p>Musa Suleman Shanono</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Commerce, Industries, Cooperative and Mineral Resources</h3>
      <p>Abbas Sani-Abbas</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Health</h3>
      <p>Abubakar Yusuf</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Environment</h3>
      <p>Nasiru Sule Garo</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Higher Education</h3>
      <p>Yusuf Kofar Mata</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Information</h3>
      <p>Baba Dantiye</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Tourism and Culture</h3>
      <p>Hon Ali Musa Hamza</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner of Agriculture</h3>
      <p>Danjuma Mahmoud</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Religion Affairs</h3>
      <p>Tijjani Auwal</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Work and Housing</h3>
      <p>Marwan Ahmad</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Local Government</h3>
      <p>Comrd. Aminu Abdussalam Gwarzo</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Rural Development</h3>
      <p>Hamza Safiyanu</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for physical planning</h3>
      <p>Adamu Kibiya</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Water Resources</h3>
      <p>Ali Makoda</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Science and Technology</h3>
      <p>Tajo Usman</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Women Affairs</h3>
      <p>Aisha Saji</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">Commissioner for Work and Infrastructural Development</h3>
      <!-- No name provided in the content -->
    </article>
  </section>

  <section id="legislative" class="px-[5%]">
    <h2 class="text-2xl font-bold mb-4">Legislative</h2>
    <ul class="list-disc pl-6">
      <li>Hon. Lawal Tini, (NNPP) (Ajingi constituency)</li>
      <li>Hon. Musa Tahir Haruna, (NNPP) (Albasu Constituency)</li>
      <li>Hon. Halilu Ibrahim Kundila, (APC) (Bagwai/Shanono constituency)</li>
      <li>Hon. Ali Muhammad Tiga, (NNPP) (Bebeji constituency)</li>
      <li>Hon. Lawal Shehu, (APC) (Bichi constituency)</li>
      <li>Hon. Hafiz Gambo, (NNPP) (Bunkure constituency)</li>
      <li>Hon. Lawal Husain, majority leader (NNPP) (Dala constituency)</li>
      <li>Hon. Murtala Musa Kore, (APC) (Danbatta constituency)</li>
      <li>Hon. Rabiu Shuaibu, (NNPP) (Dawakin Kudu constituency)</li>
      <li>Hon. Saleh Ahmad Marke, (APC) (Dawakin Tofa constituency)</li>
      <li>Hon. Salisu Ibrahim Muhammad, (APC) (Doguwa constituency)</li>
      <li>Hon. Muhammad Shehu, (NNPP) (Fagge constituency)</li>
      <li>Hon. Zakariyya Abdullahi Nuhu, (NNPP) (Gabasawa constituency)</li>
      <li>Hon. Abba Ibrahim, (NNPP) (Garko constituency)</li>
      <li>Hon. Abubakar Danladi Isah, (APC) (Gaya constituency)</li>
      <li>Hon. Abdullahi Yahya, (APC) (Gezawa constituency)</li>
      <li>Hon. Abdulmajid Isah Umar, (NNPP) (Gwale constituency)</li>
      <li>Hon. Yunusa Haruna Kayyu, (APC) (Gwarzo constituency)</li>
      <li>Hon. Ayuba Labaran Alhassan, (APC) (Kabo constituency)</li>
      <li>Hon. Sarki Aliyu Daneji, (NNPP) (Kano Municipal constituency)</li>
      <li>Hon. Ahmad Ibrahim, (NNPP) (Karaye constituency)</li>
      <li>Hon. Garba Shehu Fammar, (NNPP) (Kibiya constituency)</li>
      <li>Hon. Usman Rabula, (NNPP) (Kiru constituency)</li>
      <li>Hon. Mudassir Ibrahim, (NNPP) (Kumbotso constituency)</li>
      <li>Hon. Garba Ya'u Gwarmai, (APC) (Tsanyawa/Kunchi constituency)</li>
      <li>Hon. Alhassan Zakari Ishaq, (NNPP) (Kura/Garun Malam constituency)</li>
      <li>Hon. Suleiman Mukhtar Ishaq, (NNPP) (Madobi constituency)</li>
      <li>Hon. Ahmad Muhammad, (APC) (Makoda constituency)</li>
      <li>Hon. Abdul Abdulhamid, (NNPP) (Minjibir constituency)</li>
      <li>Hon. Yusuf Bello Aliyu, (NNPP) (Nassarawa constituency)</li>
      <li>Hon. Nuradden Alhassan Ahmad, (NNPP) (Rano constituency)</li>
      <li>Hon. Muhammad Bello Butu-butu, Deputy Speaker (NNPP) (Rimin gado/Tofa constituency)</li>
      <li>Rt. Hon Jibril Ismail Falgore, speaker (NNPP) (Rogo constituency)</li>
      <li>Hon Zubairu Hamza Masu, (NNPP) (Sumaila constituency)</li>
      <li>Hon. Musa Ali Kachako, (APC) (Takai constituency)</li>
      <li>Hon. Kabiru Sule Dahiru, (NNPP) (Tarauni constituency)</li>
      <li>Hon. Sule Lawal Shuwaki, (APC) (Tudun Wada constituency)</li>
      <li>Hon. Aminu Sa'ad, (NNPP) (Ungogo constituency)</li>
      <li>Hon. Labaran Abdul Madari, minority leader (APC) (Warawa constituency)</li>
      <li>Hon. Abdullahi Ali Manager (NNPP) (Wudil constituency)</li>
    </ul>
  </section>

  <section id="judiciary" class="px-[5%]">
    <h2 class="text-2xl font-bold mb-4">Judiciary</h2>
    <!-- Add content about the judiciary -->
  </section>

  <section id="emirate" class="px-[5%]">
    <h2 class="text-2xl font-bold mb-4">Emirate</h2>
    <article>
      <h3 class="text-xl font-bold mb-2">History of Kano Emirate</h3>
      <p>The Hausa Kingdom of Kano was based on an ancient settlement of Dala Hill. While small chiefdoms were previously present in the area, according to the Kano Chronicle, Bagauda, a grandson of the mythical hero Bayajidda,[2] became the first king of Kano in 999, reigning until 1063. Muhammad Rumfa ascended to the throne in 1463 and reigned until 1499. During his reign he reformed the city, expanded the Sahelian Gidan Rumfa (Emir's Palace), and played a role in the further Islamization of the city as he urged prominent residents to convert.[5][6] The Hausa state remained independent until the Fulani conquest of 1805.</p>
      <p>At the beginning of the 19th century, Kano became the largest and most prosperous province of the empire.[7] It was one of the last major slave societies.</p>
      <p>From 1893 until 1895, two rival claimants for the throne fought a civil war. With the help of royal slaves, Yusufu was victorious over Tukur and claimed the title of emir.</p>
      <p>Kano has long been renowned as a major trading hub in west Africa. Situated on important trans-Saharan trade routes, the city facilitated the exchange of goods.</p>
      <p>In 1903 under the command of Morland, British officers and N.C.O.s attacked Kano.</p>
      <p>of Kano. After sporadic fighting outside the walls of the fort, the British managed to penetrate the defensive parameters of the capital. Kano was mostly left defenseless at the time, the Emir, Aliyu Babba was away with its large contingent Cavalry for the Autumn Campaign at Sokoto. News of the British capture of Kano in February 1903 sent the Cavalry in a long march to retake the city.</p>
      <p>After successfully defeating the British in three encounters, on 27 February 1903, the Grand Vizier of Kano; Ahmadu Mai Shahada and much of the Kano Cavalry was ambushed at Katarkwashi. The British made Kano an important administrative centre and kept most of the Emirates institutions in the form of the Kano Emirate Council subject to the British crown in a newly formed state called Northern Nigeria.</p>
      <p>Kano has long been renowned as a major trading hub in west Africa. Situated on important trans-Saharan trade routes, the city facilitated the exchange of goods.</p>
    </article>
    <article>
      <h3 class="text-xl font-bold mb-2">List of Rulers</h3>
      <h4 class="text-lg font-bold mb-2">Kings (998 – 1349)</h4>
      <ol class="list-decimal pl-6">
        <li>
          <p>Bagauda (or Yakano)</p>
          <p>Reign Start: December 999</p>
          <p>Reign End: January 1063</p>
        </li>
        <li>
          <p>Warisis (or Warisi)</p>
          <p>Reign Start: January 1063</p>
          <p>Reign End: January 1095</p>
        </li>
        <li>
          <p>Gajemasu (or Gijimasu)</p>
          <p>Reign Start: January 1095</p>
          <p>Reign End: November 1133</p>
        </li>
        <li>
          <p>Nawata (joint ruler with twin brother Gawata)</p>
          <p>Reign Start: November 1133</p>
          <p>Reign End: October 1135</p>
        </li>
        <li>Gawata (joint ruler with twin brother Nawata)</li>
        <li>
          <p>Yusa (or Tsaraki)</p>
          <p>Reign Start: October 1135</p>
          <p>Reign End: December 1193</p>
        </li>
        <li>
          <p>Naguji</p>
          <p>Reign Start: December 1193</p>
          <p>Reign End: May 1247</p>
        </li>
        <li>
          <p>Gujjua (or Gugua)</p>
          <p>Reign Start: May 1247</p>
          <p>Reign End: January 1290</p>
        </li>
        <li>
          <p>Shekarau I (or Shekkarau I)</p>
          <p>Reign Start: January 1290</p>
          <p>Reign End: July 1307</p>
        </li>
        <li>
          <p>Tsamiya (or Tsamia; also Barandamasu)</p>
          <p>Reign Start: July 1307</p>
          <p>Reign End: June 1343</p>
        </li>
        <li>
          <p>Usmanu Zamnagawa (or Osumanu Zamnagawa)</p>
          <p>Reign Start: June 1343</p>
          <p>Reign End: March 1349</p>
        </li>
      </ol>
      <h4 class="text-lg font-bold mb-2">Sultans (1349 – 1807)</h4>
      <ol class="list-decimal pl-6" start="12">
        <li>
          <p>Yaji I</p>
          <p>Reign Start: March 1349</p>
          <p>Reign End: February 1385</p>
        </li>
        <li>
          <p>Bugaya</p>
          <p>Reign Start: February 1385</p>
          <p>Reign End: December 1390</p>
        </li>
        <li>
          <p>Kanejeji</p>
          <p>Reign Start: December 1390</p>
          <p>Reign End: May 1410</p>
        </li>
        <li>
          <p>Umaru</p>
          <p>Reign Start: May 1410</p>
          <p>Reign End: January 1421</p>
        </li>
        <li>
          <p>Dauda</p>
          <p>Reign Start: January 1421</p>
          <p>Reign End: January 1438</p>
        </li>
        <li>
          <p>Abdullahi Burja</p>
          <p>Reign Start: January 1438</p>
          <p>Reign End: January 1452</p>
        </li>
        <li>
          <p>Dakauta</p>
          <p>Reign Start: January 1452 (One night)</p>
        </li>
        <li>
          <p>Atuma</p>
          <p>Reign Start: January 1452</p>
          <p>Reign End: February 1452</p>
        </li>
        <li>
          <p>Yakubu</p>
          <p>Reign Start: February 1452</p>
          <p>Reign End: September 1463</p>
        </li>
        <li>
          <p>Muhammad Rumfa</p>
          <p>Reign Start: September 1463</p>
          <p>Reign End: August 1499</p>
        </li>
        <li>
          <p>Abdullahi</p>
          <p>Reign Start: August 1499</p>
          <p>Reign End: May 1509</p>
        </li>
        <li>
          <p>Muhammad Kisoki</p>
          <p>Reign Start: May 1509</p>
          <p>Reign End: August 1565</p>
        </li>
        <li>
          <p>Yakufu</p>
          <p>Reign Start: August 1565</p>
          <p>Reign End: 1565</p>
        </li>
        <li>
          <p>Abu Bakr Kado</p>
          <p>Reign Start: 1565</p>
          <p>Reign End: May 1573</p>
        </li>
        <li>
          <p>Muhammad Shashere</p>
          <p>Reign Start: May 1573</p>
          <p>Reign End: January 1582</p>
        </li>
        <li>
          <p>Muhammad Zaki</p>
          <p>Reign Start: January 1582</p>
          <p>Reign End: December 1618</p>
        </li>
        <li>
          <p>Muhammad Nazaki</p>
          <p>Reign Start: December 1618</p>
          <p>Reign End: November 1623</p>
        </li>
        <li>
          <p>Kutumbi</p>
          <p>Reign Start: November 1623</p>
          <p>Reign End: January 1648</p>
        </li>
        <li>
          <p>Alhaji</p>
          <p>Reign Start: January 1648</p>
          <p>Reign End: January 1649</p>
        </li>
        <li>
          <p>Shekkarau II</p>
          <p>Reign Start: January 1649</p>
          <p>Reign End: December 1651</p>
        </li>
        <li>
          <p>Muhammad Kukuna</p>
          <p>Reign Start: December 1651</p>
          <p>Reign End: December 1652</p>
        </li>
        <li>Soyaki</li>
        <li>
          <p>Muhammad Kukuna (Restored)</p>
          <p>Reign Start: December 1652</p>
          <p>Reign End: September 1660</p>
        </li>
        <li>
          <p>Bawa</p>
          <p>Reign Start: September 1660</p>
          <p>Reign End: 1670</p>
        </li>
        <li>
          <p>Dadi</p>
          <p>Reign Start: 1670</p>
          <p>Reign End: May 1703</p>
        </li>
        <li>
          <p>Muhammad Sharefa</p>
          <p>Reign Start: May 1703</p>
          <p>Reign End: July 1731</p>
        </li>
        <li>
          <p>Kumbari</p>
          <p>Reign Start: July 1731</p>
          <p>Reign End: February 1743</p>
        </li>
        <li>
          <p>Alhaji Kabe</p>
          <p>Reign Start: February 1743</p>
          <p>Reign End: May 1753</p>
        </li>
        <li>
          <p>Yaji II</p>
          <p>Reign Start: May 1753</p>
          <p>Reign End: May 1768</p>
        </li>
        <li>
          <p>Babba Zaki</p>
          <p>Reign Start: May 1768</p>
          <p>Reign End: February 1776</p>
        </li>
        <li>
          <p>Dauda Abasama II</p>
          <p>Reign Start: February 1776</p>
          <p>Reign End: December 1781</p>
        </li>
        <li>
          <p>Muhammad Alwali II</p>
          <p>Reign Start: December 1781</p>
          <p>Reign End: March 1805</p>
        </li>
      </ol>
      <h4 class="text-lg font-bold mb-2">Suleiman's reign (1807–1819)</h4>
      <ol class="list-decimal pl-6" start="1">
        <li>
          <p>Suleimanu dan Aba Hama</p>
          <p>Reign Start: 1807</p>
          <p>Reign End: 1819</p>
        </li>
      </ol>
      <h4 class="text-lg font-bold mb-2">Dabo dynasty (1819–present)</h4>
      <ol class="list-decimal pl-6" start="2">
        <li>
          <p>Ibrahim Dabo dan Mahmudu</p>
          <p>Reign Start: 1819</p>
          <p>Reign End: 1846</p>
        </li>
        <li>
          <p>Usman I Maje Ringim dan Dabo</p>
          <p>Reign Start: 1846</p>
          <p>Reign End: 1855</p>
        </li>
        <li>
          <p>Abdullahi Maje Karofi dan Dabo</p>
          <p>Reign Start: 1855</p>
          <p>Reign End: 1883</p>
        </li>
        <li>
          <p>Muhammadu Bello dan Dabo</p>
          <p>Reign Start: 1883</p>
          <p>Reign End: 1893</p>
        </li>
        <li>
          <p>Muhammadu Tukur dan Bello</p>
          <p>Reign Start: 1893</p>
          <p>Reign End: 1894</p>
        </li>
        <li>
          <p>Aliyu Babba dan Maje Karofi</p>
          <p>Reign Start: 1894</p>
          <p>Reign End: 1903</p>
        </li>
        <li>
          <p>Muhammad Abbass dan Maje Karofi</p>
          <p>Reign Start: 1903</p>
          <p>Reign End: 1919</p>
        </li>
        <li>
          <p>Usman II dan Maje Karofi</p>
          <p>Reign Start: 1919</p>
          <p>Reign End: 1926</p>
        </li>
        <li>
          <p>Abdullahi Bayero dan Abbas</p>
          <p>Reign Start: 1926</p>
          <p>Reign End: 1953</p>
        </li>
        <li>
          <p>Muhammadu Sanusi I dan Bayero</p>
          <p>Reign Start: 1953</p>
          <p>Reign End: 1963</p>
        </li>
        <li>
          <p>Muhammad Inuwa dan Abbas</p>
          <p>Reign Start: April 1963</p>
          <p>Reign End: October 1963</p>
        </li>
        <li>
          <p>Ado Bayero (San Kano)</p>
          <p>Reign Start: 1963</p>
          <p>Reign End: 2014</p>
        </li>
        <li>
          <p>Muhammadu Sanusi II</p>
          <p>Reign Start: 2014</p>
          <p>Reign End: 2020</p>
        </li>
        <li>
          <p>Aminu dan Ado Bayero</p>
          <p>Reign Start: 2020</p>
          <p>Reign End: 2024</p>
        </li>
        <li>
          <p>Muhammadu Sanusi II</p>
          <p>Reign Start: 2024</p>
          <p>Reign End: present</p>
        </li>
      </ol>
    </article>
  </section>
{% endblock %}
