{% load static heroicons tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <title>Kano State Government</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}

    {% endblock %}
  </head>
  <body class="h-full w-screen flex flex-col overflow-y-auto overflow-x-hidden">
    {% include 'components/header.html' %}

    <main class="grow flex flex-col w-full">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>
